
## <summary>policy for tcoin</summary>


########################################
## <summary>
##	Transition to tcoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`tcoin_domtrans',`
	gen_require(`
		type tcoin_t, tcoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, tcoin_exec_t, tcoin_t)
')


########################################
## <summary>
##	Execute tcoin server in the tcoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`tcoin_initrc_domtrans',`
	gen_require(`
		type tcoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, tcoin_initrc_exec_t)
')


########################################
## <summary>
##	Search tcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`tcoin_search_lib',`
	gen_require(`
		type tcoin_var_lib_t;
	')

	allow $1 tcoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read tcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`tcoin_read_lib_files',`
	gen_require(`
		type tcoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, tcoin_var_lib_t, tcoin_var_lib_t)
')

########################################
## <summary>
##	Manage tcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`tcoin_manage_lib_files',`
	gen_require(`
		type tcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, tcoin_var_lib_t, tcoin_var_lib_t)
')

########################################
## <summary>
##	Manage tcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`tcoin_manage_lib_dirs',`
	gen_require(`
		type tcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, tcoin_var_lib_t, tcoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an tcoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`tcoin_admin',`
	gen_require(`
		type tcoin_t;
		type tcoin_initrc_exec_t;
		type tcoin_var_lib_t;
	')

	allow $1 tcoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, tcoin_t)

	tcoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 tcoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, tcoin_var_lib_t)

')

